<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
       
    </head>
    <body>
        <h1>Friends</h1>
    <table>
        <tr>
        <th>name</th>
        <th>age</th>
        </tr>
        {%if all_friends%}
            {%for friend in all_friends%}
            <tr>
                <td>{{friend['name']}}</td>
                <td>{{friend['age']}}</td>
            </tr>
            {%endfor%}
        {%endif%}
    </table>
    <h1>Add Friend</h1>
    <form action='/add' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label>
    
    <label for="age">Age:<input type="text" name="age" id="age"></label>
    <input type="submit" value="Add">
  </form>
    </body>
</html>